- name: Check if node is already part of a swarm
  vars:
    swarm_state: "{{ '{{ .Swarm.LocalNodeState }}' }}"
  command: docker info --format {{ swarm_state }}
  register: swarm_state
  changed_when: false
  failed_when: false


- name: Initialize swarm on first manager of each cluster
  command: docker swarm init --advertise-addr {{ ansible_host }}
  when:
    - swarm_role == "manager"
    - swarm_state.stdout != "active"
    - inventory_hostname == groups[swarm_cluster + "_managers"][0]

- name: Get manager join token
  command: docker swarm join-token manager -q
  register: manager_token
  when:
    - swarm_role == "manager"
    - inventory_hostname == groups[swarm_cluster + "_managers"][0]

- name: Get worker join token
  command: docker swarm join-token worker -q
  register: worker_token
  when:
    - swarm_role == "manager"
    - inventory_hostname == groups[swarm_cluster + "_managers"][0]

- name: Set cluster tokens facts
  set_fact:
    swarm_manager_token: "{{ manager_token.stdout }}"
    swarm_worker_token: "{{ worker_token.stdout }}"
  when:
    - swarm_role == "manager"
    - inventory_hostname == groups[swarm_cluster + "_managers"][0]

- name: Propagate tokens to all hosts
  set_fact:
    swarm_manager_token: "{{ hostvars[groups[swarm_cluster + '_managers'][0]].swarm_manager_token }}"
    swarm_worker_token: "{{ hostvars[groups[swarm_cluster + '_managers'][0]].swarm_worker_token }}"
  when:
    - swarm_state.stdout != "active"

- name: Join as manager
  command: >
    docker swarm join
    --token {{ swarm_manager_token }}
    {{ hostvars[groups[swarm_cluster + "_managers"][0]].ansible_host }}:2377
  when:
    - swarm_role == "manager"
    - swarm_state.stdout != "active"
    - inventory_hostname != groups[swarm_cluster + "_managers"][0]

- name: Join as worker
  command: >
    docker swarm join
    --token {{ swarm_worker_token }}
    {{ hostvars[groups[swarm_cluster + "_managers"][0]].ansible_host }}:2377
  when:
    - swarm_role == "worker"
    - swarm_state.stdout != "active"
