- name: Run movein.sh script
  environment:
    MOVEIN_PASSWORD: "{{ lookup('env', 'MOVEIN_PASSWORD') }}"
  shell: |
    curl -L https://raw.githubusercontent.com/HiredNoobs/tools-bin/refs/heads/master/bin/movein.sh \
      | bash -s {{ movein_username }} "${MOVEIN_PASSWORD}"
  args:
    executable: /bin/bash
  no_log: true

- name: Setup bash, vim, and tmux on jumpbox
  become_user: "{{ movein_username }}"
  command: "/home/{{ movein_username }}/tools-bin/bin/setup bash vim tmux"
  when: inventory_hostname == "atlas"

- name: Add user to docker group
  user:
    name: "{{ movein_username }}"
    groups: docker
    append: yes
