- name: Ensure .ssh directory exists
  file:
    path: "/home/{{ movein_username }}/.ssh"
    state: directory
    owner: "{{ movein_username }}"
    group: "{{ movein_username }}"
    mode: '0700'
  when: inventory_hostname == "atlas"

- name: Install local public key on atlas
  authorized_key:
    user: "{{ movein_username }}"
    key: "{{ lookup('file', '~/.ssh/id_rsa.pub') }}"
    state: present
  when: inventory_hostname == "atlas"

- name: Generate SSH keypair
  user:
    name: "{{ movein_username }}"
    generate_ssh_key: yes
    ssh_key_bits: 4096
    ssh_key_file: ".ssh/id_rsa"
  when: inventory_hostname == "atlas"

- name: Read generated public key
  slurp:
    src: "/home/{{ movein_username }}/.ssh/id_rsa.pub"
  register: movein_pubkey_raw
  when: inventory_hostname == "atlas"

- name: Set fact for public key
  set_fact:
    movein_pubkey: "{{ movein_pubkey_raw.content | b64decode }}"
  when: inventory_hostname == "atlas"

- name: Install atlas public key on all other hosts
  authorized_key:
    user: "{{ movein_username }}"
    key: "{{ hostvars['atlas'].movein_pubkey }}"
    state: present
  when: inventory_hostname != "atlas"

- name: Update atlas' known hosts
  known_hosts:
    path: "/home/{{ movein_username }}/.ssh/known_hosts"
    name: "{{ item }}.{{ domain_name }}"
    key: "{{ lookup('pipe', 'ssh-keyscan -t rsa ' ~ (hostvars[item].ansible_host | default(item))) }}"
    state: present
  loop: "{{ groups['all'] }}"
  when: inventory_hostname == 'atlas' and item != 'atlas'

- name: Ensure known_hosts ownership is correct
  file:
    path: "/home/{{ movein_username }}/.ssh/known_hosts"
    owner: "{{ movein_username }}"
    group: "{{ movein_username }}"
    mode: '0644'
  when: inventory_hostname == 'atlas'

