{% if keepalived_healthcheck_enabled %}
vrrp_script chk_service {
    script "{{ keepalived_healthcheck_script }}"
    interval {{ keepalived_healthcheck_interval | default(2) }}
    timeout {{ keepalived_healthcheck_timeout | default(2) }}
    fall {{ keepalived_healthcheck_fall | default(2) }}
    rise {{ keepalived_healthcheck_rise | default(2) }}
}
{% endif %}

vrrp_instance vip {
    state {{ keepalived_role }}
    interface {{ keepalived_interface }}
    virtual_router_id {{ keepalived_router_id }}
    priority {{ keepalived_priority }}
    advert_int 1

    authentication {
        auth_type PASS
        auth_pass {{ keepalived_auth_pass }}
    }

    virtual_ipaddress {
        {{ keepalived_vip }}
    }

    {% if keepalived_healthcheck_enabled %}
    track_script {
        chk_service
    }
    {% endif %}
}
